<br>
<br>
<br>
<%=notice%>
<br>
<h1>Index!</h1>
<br>
<ul class="list-group">

 <% @todo.each do |contenido| %>
  <li class="list-group-item"><%= contenido.description %></li>
  <li class="list-group-item"><%= contenido.completed %></li>
  <li class="list-group-item"><%= link_to 'Create To Do', new_todo_path %></li>
  <li class="list-group-item"><%= link_to 'Show', todo_path(contenido) %></li>
  <li class="list-group-item"><%= link_to 'Edit', edit_todo_path(contenido) %></li>
  <li class="list-group-item"><%= link_to 'Destroy', todo_path(contenido), method: :delete%></li>
  <li class="list-group-item"><%=link_to 'Complete', complete_todo_path(contenido)%></li>
  <br>
  <br>
</ul>
<% end %>


