<br>
<br>
<br>
<%=notice%>
<br>
<h1>Index!</h1>
<br>
<ul class="list-group">

 <% @todo.each do |contenido| %>
  <li class="list-group-item list-group-item-info"><%= contenido.description %></li>
  <li class="list-group-item list-group-item-warning"><%= contenido.completed %></li>
  <div>
  <button type="button" class="btn btn-outline-info"><%= link_to 'Create To Do', new_todo_path %></button>
  </div>
<br>
  <div>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'Show', todo_path(contenido) %></button>
  </div>
<br>
  <div>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'Edit', edit_todo_path(contenido) %></button>
  </div>
<br>
  <div>
    <button type="button" class="btn btn-outline-danger"><%= link_to 'Destroy', todo_path(contenido), method: :delete%></button>
  </div>
<br>
  <div>
    <button type="button" class="btn btn-outline-success"><%=link_to 'Complete', complete_todo_path(contenido)%></button>
  </div>

  <br>
  <br>
</ul>
<% end %>


